# specifies relevant attributes based on current setup

[data]

# ===================================
# 	set profile
# ===================================
{{ if eq .chezmoi.os "darwin" }}
# darwin
profile = "tesla_mac_sonoma"
{{ else if eq .chezmoi.os "linux" }}
# linux
profile = "personal_ubuntu"
{{ else }}
# unsupported OS
{{ end }}

# ===================================
# 	set search directories
# ===================================
# note that chezmoi uses its own templating engine that is like that of go but not identical
{{ if eq .profile "tesla_mac_sonoma"}}
{{ else if eq .profile "personal_ubuntu"}}
searchdir = "/"
{{ end }}
