# specifies a global profile
# .chezmoitemplates contains template "headerfiles" that can be used by other templates wherever

[data]

# ===================================
# 	set profile
# ===================================
{{ if eq .chezmoi.os "darwin" }}
# darwin
profile = "tesla_mac_sonoma"
{{ else if eq .chezmoi.os "linux" }}
# linux
profile = "personal_ubuntu"
{{ else }}
# unsupported OS
{{ end }}
